@mixin container-element {
  margin: auto;
  max-width: 1200px;
  padding: 25px;
  width: 90%;
}

@mixin section-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

@mixin button-default {
  border-radius: $br-max;
  padding: 10px 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-divider($color) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 30px;
    width: 30px;
    background-color: $color;
    z-index: 10;
  }
}

@mixin section-header {
  color: $color-white;
  margin-bottom: 80px;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 8%;
    background-color: $color-white;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

$br-max: 9999px;
$br-10: 10px;
