@mixin container-element {
  margin: auto;
  max-width: 1200px;
  padding: 25px;
  width: 90%;
}

@mixin button-default {
  border-radius: $br-max;
  padding: 10px 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
$br-max: 9999px;
$br-10: 10px;
