.workItemPage {
  background-color: $color-darkest;

  &-container {
    @include container-element;
    @include section-container;
  }

  &-bannerImage {
    display: block;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: $br-10;
    margin-bottom: 30px;
  }

  &-title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &-content {
    color: white;
  }
}
