<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}
<meta
  name="keywords"
  content="construction home renovation building surveying planning"
/>
<meta name="author" content="Ionic Builds" />
<link rel="stylesheet" href="{{ "assets/styles/index.css" | absolute_url }}" />
<meta name="theme-color" content="#2b2e3a" />
<link
  rel="shortcut icon"
  type="image/png"
  href="{{ 'favicon.png' | absolute_url }} "
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<title>
  {% if page.title %} {{ page.title }} |{% endif %} {{ site.title }}
</title>
