<div class="hero-container">
  <img
    src="{{'assets/images/hero.jpg' | absolute_url }}"
    alt=""
    class="hero-img"
  />
  <div class="hero-imgMask"></div>

  <div class="hero-content">
    <h2 class="hero-header">
      Your local,
      <span class="hero-header--highlight">trusted</span> <br />construction
      solution
    </h2>
    <p class="hero-description">
      We are a company that puts professionalism, passion & respect first,
      consistently delivering building work of exceptional quality, at the best
      possible price.
    </p>

    <a class="hero-button" href="">Contact Us</a>
  </div>

  <div class="hero-banner">
    <p class="hero-bannerText">Take a look at some of our work.</p>
    <a href="./our-work" class="hero-bannerButton">See more</a>
  </div>
</div>
